# compiled files
a.out
client
server

# not necessary files
ignore-files/
test*
*.in

# caches
.ipynb_checkpoints/
__pycache__/
*~
.vscode/

# data
data/
*.csv
*.npy

# net simulation lab files
*.pcap
*.xml
*.tr

